@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
*{
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background:#072227 ;
}
#lienzo {
    height: 0;
    width: 0;
    border: 0;
    position: relative;
    z-index: 1;
    right: auto;
    top: auto;
    background: #24A19C;
    /*
    Los estilos de los div con el movimiento y las instrucciones hay que cambiarlos
    y cambiar su tamaño dinámicamente
    */
}
#divInterno {
    height: 0;
    width: 0;
    background: none;
    border:0;
    position: absolute;
    display: none;
    top:auto;
    left: auto;
    bottom: auto;
    right: auto;
    z-index: 2;
}
#divInterno2 {
    height: 0;
    width: 0;
    background: none;
    border:0;
    position: absolute;
    display: none;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    z-index: 3;
}
#divInterno3 {
    height: 0;
    width: 0;
    background: none;
    border:0;
    position: absolute;
    display: none;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    z-index: 4;
}
#divInterno4 {
    height: 0;
    width: 0;
    background: none;
    border:0;
    position: absolute;
    display: none;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    z-index: 5;
    background:#FF5C8D;
    border: 5px solid #FF5C8D;
}
.divInternoo{
    background: #072227;
    border: 5px solid #072227;
}
.divInternoo2 {
    background:#FDEFF4;
    border: 5px solid #FDEFF4;
}
.divInternoo3 {
    background:#F1D00A;
    border: 5px solid #F1D00A;
}
.divInternoo4 {
    background:#FF5C8D;
    border: 5px solid #FF5C8D;
}
#general {
    display: none;
    text-align: center;
}
#Instrucciones {
    text-align: left;
    right: -10px;
    top: 50px;
    position: absolute;
    display: inline;
    list-style-type: square;
    padding: 50px;
}
#contenedor {
    position: absolute;
    right: 10px;
}
li {
    list-style-type:square; 
}
.quitarMarcador {
    list-style-type: none;
}
i {
    list-style-type: square;
}
#inferior {
    position: absolute;
    top: 35%;
    left: 25%;
    bottom:30%;
    height: 30%;
    width: 50%;
    margin: 0;
    padding: 0;
    
}/*
#superior {
    position: relative;
    margin: 0;
}*/
form,button {
    border: 5px solid black;
    border-collapse: collapse;
}
button {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 25px;
    background: #4FBDBA;
}
button:hover {
    background:#072227;
    color: #4FBDBA;
    cursor: pointer;
}
form {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 21px;
    background: #24A19C;
}
input {
    font-size: 18px;
    background: #4FBDBA;
    color: #072227;
}
input:hover {
    background:#072227;
    color: #4FBDBA;
    cursor: pointer;
}
label {
    background: #24A19C;
    color: #072227;
    font-weight: 900;
}
label:hover,li:hover,p:hover {
    background:#072227;
    color: #4FBDBA;
    cursor: pointer;
}
p,ul,li,b,i {
    background: #24A19C;
    color: #072227;
}
.botonesPanel {
    padding: 15px;
    font-size: inherit;
}
#instrucciones {
    margin: 0;
    border: 0;
    position: relative;
}
ul {
    padding: 15%;
}
.negrita {
    font-style: italic;
    font-weight: 900;
}
.botonEspecial {
    padding-top:15px;
    padding-bottom:15px;
    padding-left: 95px;
    padding-right: 95px;
}
#izda {
    position: relative;
    right: 162.5px;
}
#dcha {
    position: relative;
    top: -653px;
    padding: bottom 5px;
}
#botonCoordenadas {
    position: relative;
    top: 800px;
    right: -1590px;
}
#izda2 {
    position: relative;
    right: 250px;
}
#dcha2 {
    position: relative;
    top: -400px;
}
.hola {
    color: #072227;
}





#form_ver{
    margin-top: 10px;
}