*{
    text-align: center;
}
#lienzo {
    height: 0;
    width: 0;
    border: 0;
    position: relative;
    align-items: center;
    z-index: 1;
}
#divInterno {
    height: 0;
    width: 0;
    background: none;
    border:0;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}